@import './variables';

.favorite-card {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 80%;
  border: 2px solid rgb(27, 27, 27);
  border-radius: 10px;
  padding: .7em;
  background-color: $cardBackgroundColor;

}
  
.favorite-recipe-cover {
  width: 100%;
  border: 2px solid rgb(27, 27, 27);
  border-radius: 10px;
  margin-bottom: 12px;
  transition: all .2s ease-in-out; 
}
.favorite-recipe-cover:hover  {
  transform: scale(1.05);
  // object-fit: none;
  cursor: pointer;
}

.favorite-recipe-title {
  font-family: 'Source Sans Pro', sans-serif;
  text-align: center;
  color: rgb(27, 27, 27);
  font-weight: bold;
  margin-bottom: .5em;
  font-size: 1em;
}
.favorite-recipe-detail-link {
  font-family: 'Source Sans Pro', sans-serif;
  text-decoration: none;
  color: rgb(27, 27, 27);
  font-weight: bold;
  margin-bottom: .5em;
  width: 5em;
  height: 1.8em;
  background: none;
  border-radius: 10px;
  border: 1px solid black;
  color: black;
  font-size: .8em;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  box-sizing: border-box;
  padding: .2em;
}

.unfavorite-button {
  font-family: 'Source Sans Pro', sans-serif;
  text-decoration: none;
  color: rgb(27, 27, 27);
  font-weight: bold;
  margin-bottom: .5em;
  width: 9em;
  height: 3.5em;
  background: none;
  border-radius: 10px;
  border: 1px solid black;
  color: black;
  font-size: .7em;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  box-sizing: border-box;
}

.unfavorite-button:hover,
.favorite-recipe-detail-link:hover {
  cursor: pointer;
  background-color: $btnHoverColor;
}
