@import './variables';

.inspiration-page {
  display: flex;
  flex-direction: column;
  padding: 15px;
  font-family: $fontFamily;
}

.header-tagline {
  font-weight: 600;
  text-align: center;
  padding: 1em;
}

.image-ethan-hot-dog {
  width: 40%;
}

.text-image {
  display: flex;
}

.image-ethan-ice-cream {
  width: 18%;
}

.paragraph {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 1em;
}

@media screen and (max-width: 700px) {
  .inspiration-page {
    display: flex;
    flex-direction: column;
    padding: 15px;
    font-family: $fontFamily;
  }

  .header-tagline {
    font-weight: 600;
    text-align: center;
    padding: 1em;
  }

  .image-ethan-hot-dog {
    width: 80%;
    align-self: center;
  }

  .text-image {
    display: flex;
    flex-direction: column;
  }
  .description{
    margin-bottom: 1em;
  }

  .image-ethan-ice-cream {
    width: 80%;
    align-self: center;
  }

  .paragraph {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 1em;
  }
}

